*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("https://images.pexels.com/photos/2207745/pexels-photo-2207745.jpeg?auto=compress&cs=tinysrgb&w=1000");
    background-size: cover;
    background-position: center;

    image-rendering: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
    backdrop-filter: blur(15px);
    box-shadow: 0px 2px 13px 3px rgba(169, 169, 169, 0.518);
}
nav{
    height: 72px;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#logo{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
#link{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 15px;
    transition: 1s;
}
#btn{
    font-size: 17px;
    padding: 9px 17px;
    border-radius: 0px;
    border: 0.5px solid white;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-color:transparent;
  transition: 0.3s ;
}
#btn:hover{
    box-shadow: 0px 2px 13px 2px rgba(255,255,255,0.5);
    border: 0.5px solid white;
    border-radius: 10px;
}
#list{
    margin: 0 5px;
    transition: 0.2s ease;
}
#list:hover{
   transform: scale(1.2);
}
::selection{
    color:dimgray;
}
.content{
    position: absolute;
    width: 60%;
    right: 50px;
    bottom: 40px;
    text-align: right;
}
.heading{
    font-size: 35px;
    color: 	white;
}

.heading2{
    font-size: 60px;
    color: 	white;
}
.maintext{
    color: rgb(197, 197, 197);
}

#mainBtn{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    font-size: 17px;
    font-weight: 500;
    margin-right: 50px;
    transition: 0.3s;
}
#mainBtn:hover{
    box-shadow: 0px 2px 13px 2px rgba(255,255,255,0.5);
    border: 0.5px solid white;
    border-radius: 10px;
}